<%= form_for [:admin, @comment] do |f| %>
<div class="block-section">
  <%= f.text_area :content, class: "form-control"  %>
</div>
<div class="block-section">
  <%= f.submit t(".btn_title_#{params[:action]}"), class: "btn btn-default" %>
</div>
<% end %>