<a class="btn-quickview" data-toggle="modal" data-target="#myModal">
  View review
</a>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Quick view review, using ajax
      </div>
    </div>
  </div>
</div>
